/* ===== spacing ===== */
.padding-10 {
  padding: 10px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-left {
  padding-left: 10px;
}

.padding-top-bottom {
  padding: 10px 0px;
}

.margin-10 {
  margin: 10px;
}

.margin-top {
  margin-top: 5px;
}
.btn-margin {
  margin: 5px;
}

.page-margin {
  margin: 25px 50px;
}

.card-box {
  box-sizing: content-box;
  width: fit-content;
  padding: 0px 10px;
  font-weight: bold;
  background-color: rgba(197, 203, 221, 0.438);
}

.num-input {
  max-width: 40px;
 }

/* ===== flex ===== */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}
.center-items {
  align-items: center;
}

.center-content {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.no-grow {
  flex-grow: 0;
}
/* ===== font ===== */
.italic {
  font-style: italic;
}

.font-malayalam {
  font-family: "Noto Sans Malayalam", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.underline {
  text-decoration: underline;
}
/* ===== header ===== */
.header-img {
  max-width: 300px;
}
/* ===== nav ===== */
nav {
  display: flex;
  background-color: #333;
  margin-bottom: 5px;
}

nav a {
  display: inline-flex;
  flex-direction: row;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Links - change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

main {
  border: 5px solid;
  background-color: rgba(241, 233, 233, 0.438);
}

button {
  background-color: #333;
  margin-bottom: 5px;
  color: #f2f2f2;
}

button:hover {
  background-color: #ddd;
  color: black;
}

.card-display {
  border: 1px solid black;
}

#error-msg {
  transition-timing-function: ease-in-out;
}

.d-none {
  display: none;
}

.in-range-error {
  color: red;
  display: none;
}

@media screen and (max-width: 360px) { 
  .header-img {
    width: 140px;
  }
}
@media screen and (max-width: 450px) {
  .header-img {
    max-width: 200px;
  }
  nav {
    flex-direction: column;
  }
  nav a {
    border:rgb(0, 0, 0) solid 1px;
  }
  
}
@media screen and (max-width: 640px) {
  .card-gif-responsive {
    min-width: 225px;
    max-width: 520px;
  }
  .page-margin {
    margin: 25px;
    margin-bottom: 500px;
  }
}